.App {
  text-align: center;
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  position: static;
  display: flex;
  flex-direction: column;
  margin: 10px 20% 0 20%;
  gap: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;

  border-style: none none solid none;
  border-width: 1px;
  border-color: lightgray;
}

.CertList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 6px;
}

.Cert .checkbox {
  padding: 0 0 4px 0;
  background-color: white;
  border-style: none none solid none;
  border-width: 1px;
  border-color: lightgray;
}

.Searchbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
